* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  h1{
    margin:10px;
    text-align: center;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 999;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
  }
  
  #cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1150px;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  #cabecera img {
    max-height: 45px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  /* ------------------------------------------------------------------- */
  
  .linknav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }
  
  .linknav li {
    margin: 0 10px;
  }
  
  .linknav a {
    color: white;
    text-decoration: none;
  }
  
  .linknav {
    transition: 0.4s;
    color: #bdbdbd;
    font-size: 18px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }
  
  .linknav:hover {
    background: linear-gradient(rgb(128, 0, 255),rgb(0, 200, 255));
    color: #ffffff;
    padding: 24px 10px;
  }
  
  /* ------------------------------------------------------------------- */
  
  img {
    max-height: 60px;
  }

  /*Animacion*/
  section{
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(45deg,aqua,blue,gray,black);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
  }


  @keyframes cambiar{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
  }
  